<h1>PlaylistLand</h1>
<hr>
<h3><%= @song.title %> | <a href="<%= @song.url %>"><%= @song.url %></a> | <a href="/playlist/<%= @song.id %>/edit">Edit</a> | <form action="/playlist/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Over it.">
</form></h3>